# Configurações do Banco de Dados PostgreSQL
DB_USER=admin
DB_PASSWORD=sua_senha_aqui
DB_HOST=postgres
DB_PORT=5432
DB_NAME=anvisa_db

# Configurações da API FastAPI
SECRET_KEY=sua_chave_secreta_aqui

# Configurações do Apache Airflow
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=sua_senha_airflow_aqui
AIRFLOW_DB=airflow_db
AIRFLOW_FERNET_KEY=sua_fernet_key_gerada_aqui